@font-face {
    font-family: "Jura Bold";
    src: url(../type/Jura-Bold.ttf);
}

body {
    font-family: "Jura Bold";
}

.homepage {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
}

.categoryContainer {
    column-count: 2;
    column-gap: 20px;
    width: 90%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 180px;
}

.category {
    width: 100%;
    height: 110px;

}

.categoryContainer>* {
    margin-bottom: 20px;
    /* Adjust as needed */
}


#swimButton {
    background-color: #C0EBFF;
}

#gymButton {
    background-color: #393939;
}

#fastFoodButton {
    background-color: #FFD3D7;
}

#tobaccoButton {
    background-color: #FFD380;
}

#waterButton {
    background-color: #DDF7FF;
}

#saladButton {
    background-color: #E7FFB9;
}


#alcoholButton {
    background-color: #FBB9EA;
}

#stretchButton{
    background-color: #AEE0BF;
}


#settingsButton {
    position: fixed;
    border: none;
    left: 20px;
    top: 20px;
    background-color: transparent;
    padding: 0;
}

.homepagePoints {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

.categoryContainer {
   
}

.category {
    border: none;
    border-radius: 15px;
    padding: 0;
    position: relative;
    box-shadow: 0px 2px 15px 1px rgba(101, 101, 101, 0.25);
    overflow: hidden;
}

.category img {
    margin-bottom: 30px;
}

.category p {
    font-family: "Jura Bold";
    font-size: 20px;
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    line-height: 33px;
}

.homepagePoints {
    font-family: "Jura Bold";
}

#couponsButton {
    font-family: "Jura Bold";
    width: 90%;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    border: none;
    border-radius: 15px;
    background-color: #FFF1C1;

    display: flex;
    align-items: center;
    /* Vertically center items */
    justify-content: center;
}

#couponsButton>* {
    display: inline-block;
}

#couponsButton img {
    left: 15px;
    position: absolute;
}

#couponsButton p {
    -webkit-text-stroke: 1.5px #D38F0D;
    font-size: 25px;
    margin-left: 70px;
    color: #D38F0D;
}

#feedbackPoints {
    display: none;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
}

/* ———————————————————————————————————————— Overlay Accept Category ———————————————————————————————————————— */

#categoryTitle{
    text-decoration: underline;
}


.clickCategoryScreen,
.clickCategoryScreenSmoke {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}


.clickCategoryContainer,
.clickCategoryContainerSmoke {
    background-color: white;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 20px;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    height: fit-content;
}

.clickCategoryScreenSmoke {
    /* display: block; */
}

.numberCigarettes {
    background-color: transparent;
    background-color: transparent;
    font-family: "Jura Bold";
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 10px;
    font-size: 20px;
}

.cigarreteButtonActive {
    background-color: #FFD380;
}



#cancel,
#accept,
#acceptSmoke,
#cancelSmoke {
    border: none;
    font-family: "Jura Bold";
    width: 135px;
    height: 50px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    margin: 40px 10px 00px 10px;
}

#cancel,
#cancelSmoke {
    background-color: #B21D1D;
}

#accept,
#acceptSmoke {
    background-color: #3DB149;
}

/* ———————————————————————————————————————— SETTINGS ———————————————————————————————————————— */


.settingsPage {
    display: none;
}

#backArrow {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 25px;
    padding: 0;
}


.settingsList li {
    margin-bottom: 20px;

}

.settingsList li p {
    display: inline-block;
    font-size: 20px;
}

.settingsList input {
    height: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    opacity: 0.4;
    margin-top: 100px;
    margin-bottom: 40px;
}

.settingsPage {
    padding-left: 20px;
}

#saveEditPoints {
    width: 350px;

    background-color: #50A16C;
    border: none;
    height: 70px;
    color: white;
    font-family: "Jura Bold";
    font-size: 20px;
    border-radius: 15px;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 30px;
}